.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: rgb(243, 246, 252);
}

button {
  background-color: rgb(147, 149, 253);
  margin: 3px;
}
